@media (min-width:768px) and (orientation:landscape){
    body{
        display: grid;
        grid-template-columns: 1.25fr repeat(4, 1fr);
        grid-template-rows: 1fr;
    }
    aside{
        grid-column: 1 ;
        padding: 2.5vh;
    }
    main{
        grid-column: 2/6;
    }
}