@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #E7F2EF;
    height: 100vh;
    width: 100%;
    display: grid;
}
nav{
    background: linear-gradient(0deg, rgba(184, 207, 206, 1) 0%, rgba(234, 239, 239, 1) 100%);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.25), -5px -5px 5px 0px rgba(255,255,255,1);
}
.navLink{
    font-family: 'Inter';
}
.material-symbols-outlined{
    color:#19183b80;
}
@media (min-width:320px){
    nav{
        width: 100%;
        height: 100%;
        box-shadow: -5px -5px 10px 0px rgba(255,255,255), 5px 5px 5px 0px rgba(0,0,0,0.25);
        background: linear-gradient(0deg, rgba(184, 207, 206, 1) 0%, rgba(234, 239, 239, 1) 100%);
        position:relative;
        align-items: center;
        display: flex;
    }
    .nav{
        display: none;
    }
    .navLink a{
        text-decoration: none;
        color: #19183B;
    }
    .navLink{
        z-index: 1;
    }
    button{
        display: inline-block;
        width: 20%;
        height: 45%;
        background: transparent;
        border: none;
        z-index: 2;
    }
    nav button{
        width: 20%;
        height: fit-content;
        position: fixed;
    }
    .show{
        display: flex;
        flex-direction: column;
        gap: 2.5vh;
        position: fixed;
        width: 45%;
        height: 100vh;
        top: 0;
        left:0;
        background: rgba(234, 239, 239, 0.125);
        backdrop-filter: blur(15px);
        padding: 15vh 2.5vh 2.5vh 2.5vh;
        box-shadow: 15px 5px 20px 0px rgba(0,0,0,0.25);
    }
}
@media (min-width:768px) and (orientation: landscape){
    nav{
        border-radius: 22.5px;
        padding: 5vh;
    }
    nav, .navLink{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .navLink{
        height: 75%;
        gap: 2.5vh;
        padding: 2.5vh;
        font-family: 'Inter';
    }
    .navLink a{
        text-decoration: none;
        color: #19183B;
    }
    .profilePic{
        height: 25%;
        width: 100%;
        padding: 2.5vh;
        display: flex;
    }
    #logout{
        margin-top: auto;
    }
    button{
        display: none;
    }
    .profilePic{
        display: grid;
        place-items: center;
    }
    #square{
        aspect-ratio: 1/1;
        height: 100%;
        border-radius: 50%;
        outline: dashed grey;
    }
}