*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    background-color: #E7F2EF;
    display: flex;
}
nav, header, .sectRight, #updates{
    background: #B8CFCE;
    background: linear-gradient(0deg, rgba(184, 207, 206, 1) 0%, rgba(234, 239, 239, 1) 100%);
    border-radius: 15px;
}
@media(min-width:768px) and (orientation:landscape){
    body{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    nav{
        width: 20%;
        height: 95vh;
    }
    section{
        width: 80%;
        height: 95vh;
    }
}