@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media(min-width:320px){
    body{
        width: 100%;
        height: 120vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1.25fr repeat(6, 1fr);
        background-color: #E7F2EF;
    }
    .div2, .div3, .div4{
        padding: 2.5vh;
    }
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 2 / 1 / 3 / 2; }
    .div3 { 
        grid-area: 3 / 1 / 7 / 2; 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .div4 { grid-area: 7 / 1 / 9 / 2; }
    nav{
        box-shadow: -5px -5px 10px 0px rgba(255,255,255), 5px 5px 5px 0px rgba(0,0,0,0.25);
        background: linear-gradient(0deg, rgba(184, 207, 206, 1) 0%, rgba(234, 239, 239, 1) 100%);
        position:relative;
        display: flex;
        align-items: center;
    }
    .nav{
        display: none;
    }
    button{
        display: inline-block;
        width: 20%;
        height: 45%;
        margin-left: 75%;
    }
    .show{
        display: block;
        position: absolute;
        width: 25%;
        height: 30vh;
        top: 15vh;
        right:0;
        background-color: green;
    }
    header,.sectionCard,.updates{
        box-shadow: -5px -5px 10px 0px rgba(255,255,255), 5px 5px 5px 0px rgba(0,0,0,0.25);
        background: linear-gradient(0deg, rgba(184, 207, 206, 1) 0%, rgba(234, 239, 239, 1) 100%);
        border-radius: 15px;
    }
     nav,header{
        width:100%;
        height:100%;
    }
    .sectionCard{
        width: 95%;
        height: 17.5%;
    }
    .updates{
        width:100%;
        height:100%;
        box-shadow: -5px -5px 10px 0px rgba(255,255,255)inset, 5px 5px 5px 0px rgba(0,0,0,0.25)inset;
        border-radius: 15px;
        overflow-y: auto;
    }
}
@media(min-width:480px){
    header,.sectionCard,.updates{
        border-radius: 22.5px;
    }
    .sectionCard{
        width: 90%;
        height: 20%;
    }
}
@media (min-width:768px) and (orientation:landscape) {
    body{
        height: 100vh;
        display: grid;
        grid-template-columns: 1.25fr repeat(4, 1fr);
        grid-template-rows: repeat(7, 1fr);
    }
    nav{
        border-radius: 22.5px;
        display: flex;
        flex-direction: column;
        padding: 5vh;
    }
    .nav{
        outline: dashed orange;
    }
    .profilePic{
        width: 100%;
        height: 25%;
        padding: 2.5vh;
        display: flex;
    }
    .navLink{
        width: 100%;
        height: 75%;
        display: flex;
        flex-direction: column;
        padding: 2.5vh;
        gap: 2.5vh;
        font-family: 'Inter';
    }
    #logout{
        margin-top: auto;
    }
    .navLink ul a{
        text-decoration: none;
        color: #19183B;
    }
    button{
        display: none;
    }
    .card{
        padding: 2.5vh;
    }
    .div1, .div2{
        display: grid;
        place-items: center;
    }
    .div1 { 
        grid-area: 1 / 1 / 8 / 2; 
    }
    .div2 { 
        grid-area: 1 / 2 / 3 / 6; 
    }
    .div3 { 
        grid-area: 3 / 2 / 8 / 4;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .div4 { grid-area: 3 / 4 / 8 / 6; }
    .sectionCard{
        width: 100%;
    }
}