*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    background-color: #E7F2EF;
    display: flex;
    align-items: center;
}
section, main, #sectRight{
    display: flex;
    align-items: center;
}
nav, header, .sectRight, #updates{
    background: #B8CFCE;
    background: linear-gradient(0deg, rgba(184, 207, 206, 1) 0%, rgba(234, 239, 239, 1) 100%);
    border-radius: 15px;
    box-shadow: -5px -5px 10px 0px rgba(255,255,255), 5px 5px 5px 0px rgba(0,0,0,0.25);
}
#updates{
    box-shadow: -5px -5px 10px 0px rgba(255,255,255)inset, 5px 5px 5px 0px rgba(0,0,0,0.25)inset;
}
@media(min-width:480px){
    body{
        justify-content: space-between;
        flex-direction: column;
        gap: 2.5vh;
        min-height: 100vh;
    }
    nav{
        width: 100%;
        height: 15vh;
        border-radius: 0px;
    }
    main{
        flex-direction: column;
        align-items: center;
        width: 100%;
        min-height: 100vh;
        gap: 3vh;
    }
    header{
        width:95%;
        height: 22.5vh;
    }
    section{
        width: 100%;
        height: 100vh;
        gap: 2.5vh;
        flex-direction: column;
    }
    #sectRight{
        width: 100%;
        height:65%;
        flex-direction: column;
        gap: 3vh;
    }
    .sectRight{
        width: 95%;
        height: 12.5vh;
    }
    #updates{
        width: 95%;
        min-height: 40%;
        padding-bottom: 2.5vh;
    }
}
@media(min-width:768px) and (orientation:landscape){
    body{
        flex-direction: row;
        height: 100vh;
    }
   nav{
    width: 20%;
    height: 95vh;
    margin: 2.5vh;
    border-radius: 15px;
   }
   main{
    height: 100vh;
    width: 80vw;
    gap: 0px;
   }
   header{
    height: 22.5vh;
    margin: 2.5vh;
   }
   section{
    width: 95%;
    height: 72.5%;
    margin: 2.5vh;
    flex-direction: row;
   }
   #sectRight{
    width: 60%;
    height: 100%;
    justify-content: flex-end;
   }
   .sectRight{
    width: 100%;
    height: 15vh;
   }
   #updates{
    width: 40%;
    height: 100%;
    align-self: flex-end;
    margin: 0;
   }
}