*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #E7F2EF;
    display: flex;
    align-items: center;
}
section, main, #sectRight{
    display: flex;
    align-items: center;
}
nav, header, .sectRight, #updates{
    background: #B8CFCE;
    background: linear-gradient(0deg, rgba(184, 207, 206, 1) 0%, rgba(234, 239, 239, 1) 100%);
    border-radius: 15px;
}
@media(min-width:768px) and (orientation:landscape){
   body{
    justify-content: space-between;
   }
   nav{
    width: 20%;
    height: 95vh;
    margin: 2.5vh;
   }
   main{
    flex-direction: column;
    width: 80vw;
    height: 100vh;
   }
   header{
    width:95%;
    height: 22.5vh;
    margin: 2.5vh;
   }
   section{
    width: 95%;
    height: 72.5%;
    gap: 2.5vh;
    margin: 2.5vh;
   }
   #sectRight{
    width: 60%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    gap: 3vh;
   }
   .sectRight{
    width: 100%;
    height: 15vh;
   }
   #updates{
    width: 40%;
    height: 100%;
    align-self: flex-end;
   }
}