@media(min-width:320px){
    body{
        height: 120vh;
        grid-template-columns: 1fr;
        grid-template-rows: 12.5vh 1.25fr repeat(6, 1fr);
    }
    .div2, .div3, .div4{
        padding: 2.5vh;
    }
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 2 / 1 / 3 / 2; }
    .div3{
        display: flex;
    }
    .div3 { 
        grid-area: 3 / 1 / 7 / 2; 
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .div4 { grid-area: 7 / 1 / 9 / 2; }
    header,.sectionCard,.updates{
        box-shadow: -5px -5px 10px 0px rgba(255,255,255), 5px 5px 5px 0px rgba(0,0,0,0.25);
        background: linear-gradient(0deg, rgba(184, 207, 206, 1) 0%, rgba(234, 239, 239, 1) 100%);
        border-radius: 15px;
    }
    header,.sectionCard, .updates{
        padding: 1vh;
        font-family:'Poppins';
        color: rgb(25, 24, 59, 0.75);
    }
    header, .updates{
        width:100%;
        height:100%;
    }
    .sectionCard{
        width: 95%;
        height: 17.5%;
        display: flex;
        align-items: center;
    }
    .updates{
        box-shadow: -5px -5px 10px 0px rgba(255,255,255)inset, 5px 5px 5px 0px rgba(0,0,0,0.25)inset;
        border-radius: 15px;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 2.5vh;
    }
}
@media(min-width:480px){
    header,.sectionCard,.updates{
        border-radius: 22.5px;
    }
    .sectionCard{
        width: 90%;
        height: 20%;
    }
}
@media (min-width:768px) and (orientation:landscape) {
    body{
        height: 100vh;
        grid-template-columns: 1.25fr repeat(4, 1fr);
        grid-template-rows: repeat(7, 1fr);
    }
    header, .updates, .sectionCard{
        padding: 3vh;
    }
    .div3{
        display: flex;
        flex-direction: column;
    }
    .sectionCard{
        width: 100%;
    }
    .card{
        padding: 2.5vh;
    }
    .div1, .div2{
        display: grid;
        place-items: center;
    }
    .div1 { 
        grid-area: 1 / 1 / 8 / 2; 
    }
    .div2 { 
        grid-area: 1 / 2 / 3 / 6; 
    }
    .div3 { 
        grid-area: 3 / 2 / 8 / 4;
        justify-content: space-between;
    }
    .div4 { grid-area: 3 / 4 / 8 / 6; }
}