*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media(min-width:480px){
    body{
        width: 100%;
        height: 120vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1.25fr repeat(6, 1fr);
        background-color: #E7F2EF;
    }
    .div2, .div3, .div4{
        padding: 2.5vh;
    }
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 2 / 1 / 3 / 2; }
    .div3 { 
        grid-area: 3 / 1 / 7 / 2; 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .div4 { grid-area: 7 / 1 / 9 / 2; }
    nav,header{
        width:100%;
        height:100%;
        box-shadow: -5px -5px 10px 0px rgba(255,255,255), 5px 5px 5px 0px rgba(0,0,0,0.25);
        border-radius: 15px;
    }
    .sectionCard{
        width: 90%;
        height: 20%;
        box-shadow: -5px -5px 10px 0px rgba(255,255,255), 5px 5px 5px 0px rgba(0,0,0,0.25);
        border-radius: 15px;
    }
    .updates{
        width:100%;
        height:100%;
        box-shadow: -5px -5px 10px 0px rgba(255,255,255)inset, 5px 5px 5px 0px rgba(0,0,0,0.25)inset;
        border-radius: 15px;
        overflow-y: auto;
    }
}
@media (min-width:768px) and (orientation:landscape) {
    body{
        height: 100vh;
        display: grid;
        grid-template-columns: 1.25fr repeat(4, 1fr);
        grid-template-rows: repeat(7, 1fr);
    }
    .card{
        padding: 2.5vh;
    }
    .div1, .div2{
        display: grid;
        place-items: center;
    }
    .div1 { 
        grid-area: 1 / 1 / 8 / 2; 
    }
    .div2 { 
        grid-area: 1 / 2 / 3 / 6; 
    }
    .div3 { 
        grid-area: 3 / 2 / 8 / 4;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .div4 { grid-area: 3 / 4 / 8 / 6; }
    .sectionCard{
        width: 100%;
    }
}