@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

section{
    background: linear-gradient(0deg, rgba(184, 207, 206, 1) 0%, rgba(234, 239, 239, 1) 100%);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.25), -5px -5px 5px 0px rgba(255,255,255,1);
    border-radius: 15px;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    gap: 2.5vh;
    padding: 2.5vh;
    font-family: Inter;
    color: rgb(25, 24, 59, 0.75);
    overflow: auto;
    display: flex;
    flex-direction: column;
}
legend{
    font-family: Poppins;
    font-weight: Bold;
    margin: 2.5vh 0;
}
hr{
    margin-bottom:5vh;
}
section h1{
    margin: 2.5vh;
}
.enrollment-form{
    width: 100%;
    height: auto;
    border-radius: 25px;
    background-color:white;
    font-family: Poppins;
    padding: 5vh;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}
.full-name{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.full-name input{
    width: 47.5%;
}
input{
    margin-bottom: 2.5vh;
    padding: 1.25vh;
}
.enrollment-button{
    display: block;
    background-color: #D9D9D9;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.25), -5px -5px 5px 0px rgba(255,255,255,1);
    border-radius: 15px;
    padding: 2.5vh;
    margin: 2.5vh 0 0 auto;
}
.enrollment-button a{
    display: block;
    padding: 2.5vh;
    text-decoration: none;
    color: rgb(25, 24, 59, 0.75);;
}
select{
    padding: 1.25vh;
    width: 25%;
}
table{
    text-align: center;
    margin-top: 2.5vh;
    border-collapse: collapse;
}
table th, table td{
    padding: 2.5vh;
    border: 1px solid grey;
}