*{
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #E7F2EF;
    min-height: 100vh;
    width: 100%;
}

nav, .mainCard{
    background: linear-gradient(0deg, rgba(184, 207, 206, 1) 0%, rgba(234, 239, 239, 1) 100%);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.25), -5px -5px 5px 0px rgba(255,255,255,1);
}
nav{
    width: 100%;
    height: 12.5vh;
}
main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5vh;
}
.mainCard{
    width: 95%;
    min-height: 30vh;
    max-height: 50vh;
    border-radius: 15px;
}
.personalInfo{
    margin-top: 2.5vh;
}
.enrollmentInfo{
    margin-bottom: 2.5vh;
}
@media(min-width:480px){
    nav{
        height: 15vh;
    }
    main{
        gap: 4vh;
    }
    .mainCard{
        min-height: 40vh;
        max-height: 60vh;
    }
}
@media(min-width:768px) and (orientation: landscape){
    body{
        flex-direction: row;
        justify-content: flex-end;
    }
    nav{
        width: 20%;
        height: 95%;
        background-color: gray;
        position: fixed;
        top:2.5vh;
        bottom: 2.5vh;
        left: 2.5vh;
        border-radius: 15px;
    }
    main{
        width: 77.5%;
        gap: 5vh;
    }
}