@media (min-width:320px){
    body{
        grid-template-columns: 1fr;
        grid-template-rows: 12.5vh 1fr;
    }
    main{
        grid-template-rows: 2;
        padding: 2.5vh;
        display: flex;
        flex-direction: column;
        gap: 2.5vh;
        height: auto;
        max-width: 100vw;
    }
    main button{
        background-color: #eeeeee;
        box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
        width: 25vw;
    }
    input, button{
        border-radius: 5px;
        border: transparent;
    }
    input{
        height: 3.5vh;
    }
    button{
        height: fit-content;
        min-height: 3.5vh;
    }
    .passEdit label{
        margin-top: 2.5vh;
    }
    .passEdit input{
        margin-bottom: 1vh;
        padding: 1vh;
    }
    label{
        font-family: 'Inter';
    }
    .header, h3{
        font-family: 'Poppins';
        color: rgb(25, 24, 59, 0.75);
    }
    .header, .contactEdit{
        border-bottom: 1px solid #222831;
    }
    section{
        padding: 2.5vh;
    }
    .form2 .input, .form3Input{
        display: flex;
    }
    .form2 .input{
        justify-content: space-between;
    }
    .form3Input{
        display: flex;
        flex-direction: column;
        margin-bottom: 2.5vh;
    }
    .form3Input input{
        width: 100%;
    }
    #currPass{
        width: 100%;
    }
    h3{
        margin-bottom: 2.5vh;
    }
}
@media (min-width:768px){
    .form2 input{
        width: 50%;
    }
}
@media (min-width:768px) and (orientation: landscape){
    body{
        grid-template-columns: 1.25fr repeat(4, 1fr);
        grid-template-rows: 1fr;
    }
    aside, section{
        padding: 2.5vh;
    }
    main, .header, .form1, .form2, .contactEdit, .input, .passEdit, .form3, .form3Input {
        display: flex;
    }
    main, .contactEdit, .form2, .passEdit {
        flex-direction: column;
    }
    .header, .form1{
        align-items: center;
    }
    .form1, .form3Input{
        height: 100%;
    }
    .form3Input, .input input{
        border-radius: 5px;
    }
    aside{
        grid-area: 1 / 1 / 2 / 2;
    }
    main{
        grid-area: 1 / 2 / 2 / 6;
        margin: 2.5vh;
        background: linear-gradient(0deg, rgba(184, 207, 206, 1) 0%, rgba(234, 239, 239, 1) 100%);
        box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.25), -5px -5px 5px 0px rgba(255,255,255,1);
        border-radius: 22.5px;
        max-height: 100vh;
        overflow-y: auto;
    }
    ::-webkit-scrollbar{
        width: 10px;
    }
    .header{
        height: 15%;
        padding-left: 2.5vh;
    }
    section{
        width: 100%;
        height: auto;
    }
    .form1{
        justify-content: flex-end;
        width: 100%;
    }
    form button{
        display: inline-block;
        background-color: #eeeeee;
        min-width: 15%;
        height: fit-content;
        width: fit-content;
        padding: 1vh;
    }
    input{
        height: 5vh;
    }
    .contactEdit , .form3, .form3Input{
        gap: 2.5vh;
    }
    .form2{
        color: #222831;
    }
    .form2 button{
        height: 125%;
    }
    h3{
        font-family: 'Poppins';
    }
    .input{
        justify-content: space-between;
        margin-bottom: 2.5vh;
    }.input input{
        width: 40%;
        border: none;
    }
    .form2 label, .passEdit label{
        color: gray;
    }
    .passEdit label{
        margin-top: 2.5vh;
    }
    .form3Input{
        width: 60%;
        flex-direction: row;
    }
    .form3 input{
        border: none;
        width: 40%;
        padding-left: 2.5vh;
    }
    .form3 button{
        margin-left: auto;
    }
    #currPass{
        height: 5vh;
        width: 40%;
    }
}