@media (min-width:768px) and (orientation: landscape){
    body{
        grid-template-columns: 1.25fr repeat(4, 1fr);
        grid-template-rows: 1fr;
    }
    aside, main{
        padding: 2.5vh;
    }
    main, .header, .form1, .form2, .contactEdit {
        display: flex;
    }
    aside{
        grid-area: 1 / 1 / 2 / 2;
    }
    main{
        grid-area: 1 / 2 / 2 / 6;
        margin: 2.5vh;
        flex-direction: column;
        background: linear-gradient(0deg, rgba(184, 207, 206, 1) 0%, rgba(234, 239, 239, 1) 100%);
        box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.25), -5px -5px 5px 0px rgba(255,255,255,1);
        border-radius: 22.5px;
    }
    .header, h3{
        font-family: 'Poppins';
        color: rgb(25, 24, 59, 0.75);
    }
    .header{
        height: 15%;
        align-items: center;
        padding-left: 2.5vh;
        border-bottom: 1px solid #222831;
    }
    section{
        width: 100%;
        height: 32.5%;
        padding: 2.5vh;
    }
    .form1{
        justify-content: flex-end;
        width: 100%;
        height: 100%;
        align-items: center;
        font-family: 'Inter';
    }
    .profileEdit{
        height: 20%;
        border-bottom: 1px solid #222831;
    }
    form button, .form2 button{
        display: block;
        background-color: #eeeeee;
        width: 8vw;
        border-radius: 5px;
    }
    form p{
        margin-right: auto;
    }
    #picture{
        aspect-ratio: 1/1;
        height: 75%;
        margin-right: 5vh;
        border-radius: 50%;
        outline: dashed grey;
    }
    .contactEdit{
        flex-direction: column;
        gap: 2.5vh;
        outline: dashed gray;
    }
    .form2{
        flex-direction: column;
        font-family: 'Inter';
    }
    h3{
        font-family: 'Poppins';
    }
}