@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: #E7F2EF;
    align-items: center;
    display: flex;
}

nav, #mainHead, .mainContent, #updates{
    background: #B8CFCE;
    background: linear-gradient(0deg, rgba(184, 207, 206, 1) 0%, rgba(234, 239, 239, 1) 100%);
}

nav{
    font-family: 'Inter';
}

@media(min-width:320px){

    body{
        flex-direction: column;
        min-height: 100vh;
        width: 100%;
        justify-content: flex-start;
    }
    nav, main{
        width:95%;
        border-radius: 15px;
        margin: 2.5vw;
    }
    nav, #mainHead, .mainContent, #updates{
        box-shadow: -5px -5px 10px 0px rgba(255,255,255), 5px 5px 5px 0px rgba(0,0,0,0.25);
    }
    nav{
        height: 10vh;
    }
    main, #mainContent, #mainInfo{
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #mainHead{
        width: 100%;
        height: 10vh;
        border-radius: 15px;
    }
    #mainContent{
        width: 105%;
        gap: 4vw;
        margin-top: 12.5vw;
    }
    #mainInfo{
        width: 100%;
        gap:5vw;
    }
    .mainContent{
        width: 95%;
        height: 10vh;
        background-color: #B8CFCE;
        border-radius: 15px;
    }
    #updates{
        width: 95%;
        min-height: 30vh;
        background-color: gray;
        border-radius: 15px;
        margin-top: 8.5vw;
    }
}

@media(min-width:480px){

    nav, main{
        width:95%;
        border-radius: 17.5px;
        margin: 3vw;
    }

    nav{
        height: 15vh;
        border-radius: 17.5px;
    }

    #mainHead{
        width: 100%;
        height: 15vh;
    }
}

@media(min-width:768px) and (orientation: landscape){

    body{
        flex-direction: row;
        justify-content: space-between;
    }
    nav{
        width: 20%;
        height: 95vh;
        margin: 2.5vh;
    }
    main{
        width: 80%;
        max-height: 100vh;
        margin: 0;
    }
    #mainHead{
        width: 95%;
        height: 25vh;
        margin: 2.5vh 2.5vh 2.5vh 0;
    }
    #mainContent{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 75vh;
        width: 95%;
        margin: 0;
        padding: 0;
        margin: 2.5vh 2.5vh 2.5vh 0;
    }
    #mainInfo{
        flex-direction: column;
        gap: 6vh;
        margin-left: 0;
        justify-content: space-between;
        align-items: center;
    }
    .mainContent{
        height: 12.5vh;
        margin-right: 2.5vh;
    }
    #updates{
        height: 100%;
        margin: auto;
    }
}

@media(min-width:1024px){
    
}