@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: #E7F2EF;
    align-items: center;
}

nav, #mainHead{
    background: #B8CFCE;
    background: linear-gradient(0deg, rgba(184, 207, 206, 1) 0%, rgba(234, 239, 239, 1) 100%);
}

nav{
    font-family: 'Inter';
}

@media(min-width:320px){

    body{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        width: 100%;
        justify-content: flex-start;
    }

    nav, main{
        width:95%;
        border-radius: 15px;
        margin: 2vw;
    }

    nav, #mainHead{
        box-shadow: -5px -5px 10px 0px rgba(255,255,255), 5px 5px 5px 0px rgba(0,0,0,0.25);
    }

    nav{
        height: 10vh;
    }

    main{
        height: auto;
    }

    #mainHead{
        width: 100%;
        height: 10vh;
        border-radius: 15px;
    }

}

@media(min-width:480px){

    nav, main{
        width:95%;
        border-radius: 17.5px;
        margin: 3vw;
    }

    nav{
        height: 12.5vh;
        border-radius: 17.5px;
    }

    #mainHead{
        width: 100%;
        height: 20vh;
    }
}

@media(min-width:768px){
    body{
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    nav, main{
        height: 95vh;
        border-radius: 25px;
        margin: 1vw;
    }

    nav{
        width: 22.5%;
        height: 95vh;
        border-radius: 25px;
        box-shadow: -5px -5px 15px 0px rgba(255,255,255), 5px 5px 10px 0px rgba(0,0,0,0.25);
    }
}

@media(min-width:768px) and (orientation: portrait){
    body{
        flex-direction: column;
        gap: 2.5vw;
    }

    nav, #mainHead{
        height: 17.5vh;
        border-radius: 17.5px;
        box-shadow: -5px -5px 15px 0px rgba(255,255,255), 5px 5px 10px 0px rgba(0,0,0,0.25);
    }

    nav{
        width: 95%;
    }
}

@media(min-width:1024px){
    nav{
        width: 17.5%;
    }
    #mainHead{
        width: 100%;
        height: 25vh;
    }
}