*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: #E7F2EF;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

aside{
    width: 25%;
    height: 100vh;
    background-color: antiquewhite;
    display: grid;
    place-items: center;
}

main{
    width: 75%;
    height: 100vh;
    background-color: gray;
}

nav{
    width: 90%;
    height: 95vh;
    background-color: aliceblue;
}